.SearchEngine {
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    background-color: aliceblue;
    width: 50%;
    padding: 10px 0;
    /* border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    */
    text-align: center;
    border-color: black;
    border-radius: 10px;
}

.SearchBox{
    display: block;
    margin-top: 30px;
    background-color: #c3cbd2;
    padding: 4px 2px;
    width: 100%;
    border-radius: 10px;
    border: none;
}
.SearchPanel{
    margin: 20px;
    display: inline-block;
    border-color: yellowgreen;
    border-style: solid;
    padding: 10px;
}

.SearchRadio {
    text-align: left;
}

.SearchPanelContainer {
    border-color: yellowgreen;
    border-style: solid;
    margin: 20px;
}

.SearchSpin {
    display: block;
    margin: 5px;
    text-align: center;
    width: 50%;
    margin-left: 25px;
}